## Data collecting

### Price and Volume

1. We can use pandas_datareader to collect and save the data in dataframe. All we need are four parameters: stock lable, source, start data, and end date,

In [22]:
import pandas_datareader.data as web

In [23]:
# start date
start = dt.datetime(2019, 1, 1)
# end date
end = dt.datetime(2020, 3, 13)
# stock label and source
df = web.DataReader('AAPL', 'yahoo', start, end)

In [24]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,158.850006,154.229996,154.889999,157.919998,37039700.0,155.214005
2019-01-03,145.720001,142.000000,143.979996,142.190002,91312200.0,139.753540
2019-01-04,148.550003,143.800003,144.529999,148.259995,58607100.0,145.719513
2019-01-07,148.830002,145.899994,148.699997,147.929993,54777800.0,145.395203
2019-01-08,151.820007,148.520004,149.559998,150.750000,41025300.0,148.166870

2. Use pd to scrape data from the website

In [6]:
import pandas as pd
url = 'https://finance.yahoo.com/screener/predefined/most_actives?count=100&offset=0'
data = pd.read_html(url)[0]

In [7]:
data.head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,F,Ford Motor Company,5.19,-0.06,-1.14%,106.324M,82.103M,20.578B,519.00,NaN
1,GE,General Electric Company,7.62,-0.50,-6.16%,93.299M,82.557M,66.294B,NaN,NaN
2,BAC,Bank of America Corporation,21.60,-1.12,-4.93%,91.523M,77.085M,188.455B,7.85,NaN
3,AMD,"Advanced Micro Devices, Inc.",46.58,-0.92,-1.94%,72.63M,73.033M,54.483B,155.27,NaN
4,CCL,Carnival Corporation & Plc,14.41,-3.41,-19.14%,62.994M,21.516M,10.233B,3.34,NaN

### Company Info

In [8]:
import yfinance as yf
import time

In [17]:
# call company info
stk = yf.Ticker('A').info
# columns
col = list(stk.keys())
# values
val = list(stk.values())

In [19]:
df = pd.DataFrame(columns = col)
df.loc[0, col] = val
df.head()

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,website,...,earningsQuarterlyGrowth,dateShortInterest,pegRatio,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,category,fiveYearAverageReturn,regularMarketPrice,logo_url
0,95051,Healthcare,16300,"Agilent Technologies, Inc. provides applicatio...",Santa Clara,800 227 9770,CA,United States,[],http://www.agilent.com,...,-0.609,1584057600,2.45,None,0.0183,4724925,None,None,71.55,https://logo.clearbit.com/agilent.com

In [20]:
#stk_info_df = pd.DataFrame(index = stk_list.sort_values(), columns = cols)
#for i in stk_info_df.index:
#    print('processing:' + i)
#    info_dict = yf.Ticker(i).info
#    columns_included = list(info_dict.keys())
#    stk_info_df.loc[i, columns_included] = list(info_dict.values())
#    time.sleep(1)

### Technical Index

1. Talib

In [21]:
import talib

In [25]:
talib.RSI(df.Close)

Date
2019-01-02          NaN
2019-01-03          NaN
2019-01-04          NaN
2019-01-07          NaN
2019-01-08          NaN
                ...
2020-03-09    35.286777
2020-03-10    44.605440
2020-03-11    41.294936
2020-03-12    33.865673
2020-03-13    45.426472
Length: 302, dtype: float64

2. Abstrach

In [26]:
from talib import abstract

In [35]:
f = df.copy()
# chagne column name
f.rename(columns = {'Close': 'close', 'Open': 'open', 'High':'high', 'Low': 'low', 'Volume': 'volume'}, inplace = True)
abstract.RSI(f)

Date
2019-01-02          NaN
2019-01-03          NaN
2019-01-04          NaN
2019-01-07          NaN
2019-01-08          NaN
                ...
2020-03-09    35.286777
2020-03-10    44.605440
2020-03-11    41.294936
2020-03-12    33.865673
2020-03-13    45.426472
Length: 302, dtype: float64