### Rolling

Recall n values before each value and do math operation

In [4]:
# import data
import pandas_datareader.data as web
import datetime as dt
df = web.DataReader('AAPL', 'yahoo', dt.datetime(2010, 1, 1), dt.datetime(2019,12,31))
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-04  30.642857  30.340000  30.490000  30.572857  123432400.0  26.538483
2010-01-05  30.798571  30.464285  30.657143  30.625713  150476200.0  26.584366
2010-01-06  30.747143  30.107143  30.625713  30.138571  138040000.0  26.161509
2010-01-07  30.285715  29.864286  30.250000  30.082857  119282800.0  26.113146
2010-01-08  30.285715  29.865715  30.042856  30.282858  111902700.0  26.286753

In [5]:
df['20MA'] = df['Adj Close'].rolling(20).mean()
df['20MA']

Date
2010-01-04           NaN
2010-01-05           NaN
2010-01-06           NaN
2010-01-07           NaN
2010-01-08           NaN
                 ...
2019-12-24    271.432806
2019-12-26    272.710774
2019-12-27    273.806174
2019-12-30    275.016800
2019-12-31    276.487808
Name: 20MA, Length: 2516, dtype: float64

### shift

Very handy to calculate ROI

In [8]:
df['10D_ROI'] = (df['Adj Close'] - df['Adj Close'].shift(-10))/df['Adj Close']
df['10D_ROI']

Date
2010-01-04   -0.004813
2010-01-05    0.012361
2010-01-06    0.013746
2010-01-07    0.060927
2010-01-08    0.042032
                ...
2019-12-24         NaN
2019-12-26         NaN
2019-12-27         NaN
2019-12-30         NaN
2019-12-31         NaN
Name: 10D_ROI, Length: 2516, dtype: float64

### Time

In [ ]:
# format: old data type
df['Date'] = pd.to_datetime(df['Date'], format = '%Y/%m/%d')